<launch>

	<node name="mission" pkg="plymouth2020" type="mission_data.py" args="--test" output='screen' />
		<arg name="mission" default="triangle.txt" />
		<param name="mission" type="String" value="$(arg mission)" />

	<node name="simu_boat" pkg="plymouth2020" type="simu_boat.py" args="--test" respawn="true" output='screen' />

	<node type="rviz" name="rviz_triangle" pkg="rviz" />
	<node name="rviz_displayer_mission" pkg="plymouth2020" type="rviz_displayer_mission.py" args="--test" respawn="true" output='screen' />

</launch>
